.recbrief-lock,
html.recbrief-lock,
body.recbrief-lock {
  overflow: hidden;
}

.recbrief-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recbrief-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
