@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 text-slate-900 antialiased;
}

@media print {
  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  body {
    background: white !important;
  }

  a[href^='http']::after,
  a[href^='/']::after {
    content: ' (' attr(href) ')';
    font-size: 10px;
    color: #555;
  }
}
